<%- include('./partial/header',{title : "Home Page"}) %>
<body>
    <%- include('./partial/navbar-home') %>
    <div class="mt-4 container">
        <h1 class="text-center">LIst Vaccine</h1>
        <div class="d-flex flex-wrap">
            <% data.forEach(e => { %>
                <div class="m-5 card" style="width: 18rem;">
                    <img src="/image/<%= e.image %>"class="card-img-top" alt="..">
                    <div class="card-body">
                        <h5 class="card-title"><%= e.vaccine_name %> </h5>
                        <p class="card-text"><%= e.country_manufacture %> </p>
                        <p class="card-text">Efficacy : <%= convertEfficacy(e.efficacy) %> </p>    
                        <a href="/vaccine/<%= e.id %> " class="btn btn-primary">Details</a>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
</body>
</html>